@import url("https://rsms.me/inter/inter-ui.css");

body {
    font-family: "Inter UI", sans-serif;
}

.firstPage {
    pointer-events: none;
    opacity: 0.2;
}

.lastPage {
    pointer-events: none;
    opacity: 0.2;
}